*{margin: 0;
padding: 0;}

body{background-color: rgb(63,52,52);}

.section1{width: 400px;
height: 300px;
border-radius: 10px;
border: 1px;
background-color:rgb(73,62,62) ;
margin-left: 500px;
margin-top: 200px;}

.section2{padding-left: 60px;
    padding-top: 15px;
}

h1{color: white;}
p{color: white;}

.section3{display: flex;
justify-content: space-around;
margin-top: 65px;}

.box1{width: 50px;
    height: 150px;
    border-radius: 10px;
    border: 1px;
    background-color: rgb(213,99,78);
}
.box2{width: 50px;
    height: 150px;
    border-radius: 10px;
    border: 1px;
    background-color: rgb(213,99,78);
}

.box3{width: 50px;
    height: 150px;
    border-radius: 10px;
    border: 1px;
    background-color: rgb(213,99,78);
}
.box4{width: 50px;
    height: 150px;
    border-radius: 10px;
    border: 1px;
    background-color: rgb(213,99,78);
}
.box5{width: 50px;
    height: 150px;
    border-radius: 10px;
    border: 1px;
    background-color: rgb(213,99,78);
}

.d11{height: 72.5%;
background-color: rgb(67,55,55);}
.d21{height: 66.5%;
background-color: rgb(67,55,55);}
.d31{height: 84.5%;
background-color: rgb(67,55,55);}
.d41{height: 87.5%;
background-color: rgb(67,55,55);}
.d51{height: 94.5%;
background-color: rgb(67,55,55);}